@import url('./sidebar/sidebar.css');
@import url('./Dialogue_boxes/search_dialogBox.css');
@import url('./content/content.css');
@import url('./Dialogue_boxes/addTask_dialogBox.css');
html, body
{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow:  hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* .search-div .search-input
{
    width: 30%;
    text-align: center;
    border: none;
    border-bottom: 2px solid rgba(000, 000, 000, 1);
    background-color: transparent;
    outline: none;
    cursor: auto;
    color: black;
    font-size: large;
    transition: width 0.4s ease-in-out;
} */

/* .search-div .search-input:focus
{
    width: 70%;
} */



