/* Global styles */
* 
{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

body 
{
    background: #FFFDF2;
}

  /* Header styling */
.header 
{
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#displayUsername 
{
    font-size: 18px;
}

#logOutBtn 
{
    background-color: #f44336;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 18px;
}

  /* Content container */
#content 
{
    padding: 20px;
}

  /* Add List Container */
#addListContainer 
{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#listNameInput 
{
    width: 75%;
    padding: 10px;
    font-size: 16px;
}

#addListBtn 
{
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

#addListBtn:hover 
{
    background-color: #bbb;
}

  /* Lists Container */
#listsContainer 
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

  /* Card Style for To-Do Lists */
.todo-card 
{
    background: #ffffff;
    padding: 20px;
    border: 2px solid #f44336;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.todo-card h3 
{
    margin-bottom: 10px;
    color: #f44336;
}

  /* Style the input for tasks */
.task-input 
{
    width: 55%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
    height: 38px;
}

.addTaskBtn 
{
    display: inline-block;
    padding: 10px;
    width: 31%;
    background: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    top: 0px;
    height: 40px;
}

.addTaskBtn:hover 
{
    background-color: #bbb;
}

  /* Style for the tasks */
.task-list 
{
    list-style-type: none;
    padding: 0;
}

.task-list li 
{
    position: relative;
    cursor: pointer;
    padding: 12px 16px 12px 16px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    margin-bottom: 5px;
    border-radius: 5px;
}

.task-list li:hover 
{
    background: #ddd;
}

.task-list li.checked 
{
    background: #14A76C;
    color: #FFFDF2;
    text-decoration: line-through;
}

.close 
{
    cursor: pointer;
    padding: 11px 16px 11px 16px;
    color: #000;
    font-weight: bold;
    font-size: 20px;  
    transition: 0.3s;
    position: absolute;
    right: 0;
    top: 0;
}

.close:hover 
{
    background-color: #f44336;
    color: white;
}

.closeList
{
    border-radius: 0% 10% 0% 0%;
}

.priority-select
{
    position: relative;
    height: 40px;
    padding: 8px 10px;
    background-color: #fff;
    border-left: none;
    border-right: none;
    cursor: pointer;
    width: 14%;
}

