.search-modal
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: rgba(030, 030, 030);
    width: 700px;
    max-width: 80%;
    min-height: 40vh;
    max-height: 60vh;
    overflow-y: scroll;
    color: white;
}

.search-modal.active 
{
    transform: translate(-50%, -50%) scale(1);

    
}

.search-modal-header
{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.search-icon-div
{
    padding-top: 2px;
    filter: invert();
}

.search-icon-div img
{
    height: 30px;
}

.search-input-div
{
    flex: 1;
    height: 30px;
}

.search-input
{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 1.25rem;
    background-color: transparent;
    color: white;
}

.search-input::placeholder
{
    color: white;
    opacity: 0.8;
}

.search-modal-body
{
    flex: 1;
    width: 100%;
}

.modal-list
{
    padding: 0;
    /* list-style-type: url(../../../pictures/list-icon.png); */
}

.search-list
{

    list-style: none;
    padding: 10px 0px 10px 12px;

}

.modal-list .search-list:hover
{
    padding: 10px 0px 10px 8px;
    border-left: 4px solid;
    border-color: #f44336;
    background-color: rgba(040, 040, 040, 0.8);
}

.search-list-name-div
{

}

.search-all-tasks-div
{

}

.search-lists-tasks-list
{

}

.search-lists-tasks-list-item
{
    display: flex;
    gap: 10px;
    padding: 10px;
}

.search-task-name
{
    color: green;
}

.search-task-deadline
{

}


#overlay-div
{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

#overlay-div.active
{
    transition: 200ms ease-in-out;
    opacity: 1;
    pointer-events: all;
}