.add-task-modal
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.70), 0 1px 4px rgba(0, 0, 0, 0.80);
    width: 700px;
    max-width: 80%;
    min-height: 20vh;
    max-height: 40vh;
    overflow-y: scroll;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}

.add-task-modal.active
{
    transform: translate(-50%, -50%) scale(1);
}

.modal-addTask-div
{
    width: 100%;
    /* height: 50px; */
    overflow: hidden;
}

.modal-addTask-dialog-input
{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* padding: 10px 0px; */
}

.modal-addTask-description-div
{
    height: 20px;
}

.modal-add-task-description-input
{
    
    height: 100%;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
    border: none;
    padding-left: 0 ;
}

.modal-task-deadline-div
{
    opacity: 0.3;
    margin-top: 6px;
    margin-bottom: 6px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    border: 2px solid rgba(200, 200, 200, 0.8);
    transition: 500ms all;
    overflow: hidden;
    width: fit-content;
    padding: 0px 5px;
    border-radius: 5px;
}
.modal-task-deadline-div:hover
{
    opacity: 1;
    border: 2px solid rgba(0, 0, 0, 1);
}
.modal-deadline-input
{
    /* color-scheme: dark; */
    border: none;
    outline: none;
    height: 30px;
    width: 18px;
    scale: 1.5;
}

.modal-deadline-span
{
    color: black;
}
.modal-add-task-button-div
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    border-top: 2px solid rgba(30, 30, 30, 0.3);
}

.modal-add-task-button
{
    opacity: 0.5;
    margin-top: 6px;
    margin-bottom: 6px;
    border: 2px solid #f44336;
    background-color: #f44336;
    color: white;
    font-weight: 900;
    transition: 500ms all;
    border-radius: 5px;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    margin-right: 10px;
}

.modal-add-task-button.active
{
    opacity: 1;
}